/* from https://ianlunn.github.io/Hover/ */
p, body {
    color: black;
}

h1, a {
    color: #00467e;
}

footer {
    color: white !important;
}

#cover {
    width: 100%;
    height: 100%;
    object-fit: contain;
}